*{
	margin: 0;
	padding: 0;
}
footer {
	width: 100%;

}
footer .footer1 {
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
footer .footer1 .footer1-1{
	width: 25%;
}
footer .footer1 .tieu-de> hr {
	height: 3px;
    background-color: #dcb96e;
    display: inline-block;
    width: 55px;
    margin: 9px 48px;
    border: none;
}
footer .footer1 .tieu-de{
	display: flex;
	flex-direction: row;
	padding-left: 20px;
}

footer .footer1 .footer1-1 .info{
	width: 100%;
	display: flex;
	flex-direction: row;
}
footer .footer1 .footer1-1 .info .info-left {
	width: 45%;
	padding: 20px 0 20px 20px;
}
footer .footer1 .footer1-1 .info img{
	width: 100%;
}
footer .footer1 .footer1-2 .info1{
	padding-left: 20px;
	padding-bottom: 10px;
}
footer .footer1 .footer1-2 .bt{
	display: flex;
	flex-wrap: wrap;
    padding-left: 14px;
}
footer .footer1 .dau-cham {
	margin: 5px;
	padding: 5px;
	color: white;
	background-color: #c59a4c;
	border: none;

}
footer .footer1 .footer1-3 .anh{
	display: flex;
	flex-direction: row;
    margin-left: 13px;
}
footer .footer1 .footer1-3 .anh img{
	padding: 5px;
}
footer .footer1 .ft{
	padding: 20px;
}
footer .footer1 .footer1-4{
	padding-left: 25px;
}
footer .footer1 .footer1-4 .footer1-4-1 {
	display: flex;
	flex-direction: row;
}
footer .footer1 .footer1-4 .footer1-4-1> div{
    padding-right: 7px;
}
footer .footer1 .footer1-4 .footer1-4-1 {
	/*background-color: #ccc;*/
}
.lui{
	margin-left: 17px !important;
}
footer .footer2{
	background-color: #413a3a;
	width: 100%;
	height: 200px;
	color: white;
	padding-top: 30px;
}
footer .footer2 .final{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}/*
footer .footer2 .final .final-left{
	width: 25%;
}
footer .footer2 .final .final-right{
	width: 25%;
}*/
.mau-chu2{
	color: gray;
}
.bg{
	background-color: #ccc;	
}
.abc{
	width: 30%;
	height: 180px;

}
.gach-chu{
	text-decoration: line-through;
}
footer .footer2 > p{
	text-align: center;
}



/*Tablet*/
@media all and (max-width: 768px){
	footer {
		width: 100%;
	}
	footer .footer1{
		display: flex;
		flex-direction: column;
	}
	footer .footer1 .ft{
		width: 100%;
	}
	footer .footer1 .footer1-1 .info{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	footer .footer1 .footer1-1 .info .info-left{
		width: 90%;
		margin-bottom: 20px;
	}
	footer .footer1 .footer-1-4 .footer-1-4-1{
		display: flex !important;
		flex-direction: column !important;
	}
	footer .footer1 .footer-1-4-1 .bg {
		width: 90%;
	}
	.abc{
		width: 90% !important;
	}
	footer .footer2 .final{
		display: flex;
		flex-direction: column;
	}
	footer .footer2 .final .final-left{;
		margin-left: 60%;
	}
	footer .footer2 .final .final-right{
		float: left !important;
		margin: 32px;
	    margin-right: 50%;
	}
	




/*phone*/
@media all and (max-width: 576px){
	footer .footer1-4 .bg{
		width: 90% !important;
	}
	footer .footer1-4 .footer1-4-2> input{
		width: 90% !important;
		height: 180px !important;
	}
}


